@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: var(--bg);
  color: var(--fg);
}

body.light {
  background: var(--bg);
  color: var(--fg);
}

body.dark {
  background: var(--bg);
  color: var(--fg);
}

:root[data-theme='cyber'] {
  --bg: #0d1117;
  --fg: #c9d1d9;
  --accent: #00d1ff;
}

:root[data-theme='pastel'] {
  --bg: #fafafa;
  --fg: #000000;
  --accent: #ffd1dc;
}
